<!-- prettier-ignore -->
<% const items = [
  {
    label: '全画面ローディング',
    linkTo: '/jscopyand/items/loading.html'
  },
  {
    label: '開閉項目（アコーディオン）',
    linkTo: '/jscopyand/items/accordion.html'
  },
  {
    label: 'タブ',
    linkTo: '/jscopyand/items/tabs.html'
  },
  {
    label: 'メニュー',
    linkTo: '/jscopyand/items/menu.html'
  },
  {
    label: 'スライダー（カルーセル）',
    linkTo: '/jscopyand/items/slider.html'
  },
  {
    label: 'モーダル',
    linkTo: '/jscopyand/items/modal.html'
  },
  {
    label: 'タイル配置',
    linkTo: '/jscopyand/items/tile.html'
  },
  {
    label: 'スクロールアニメーション',
    linkTo: '/jscopyand/items/scrollanimation.html'
  },
  {
    label: 'タイマー',
    linkTo: '/jscopyand/items/timer.html'
  },
  {
    label: '間引き（throttle / debounce）',
    linkTo: '/jscopyand/items/thinning.html'
  },
  {
    label: 'スクロールしたら〜',
    linkTo: '/jscopyand/items/scroll.html'
  },
  {
    label: 'リサイズしたら〜',
    linkTo: '/jscopyand/items/resize.html'
  },
  {
    label: '画面に入ったら〜',
    linkTo: '/jscopyand/items/screenin.html'
  },
  {
    label: '離脱前に確認する',
    linkTo: '/jscopyand/items/beforeunload.html'
  },
];%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./_ejsModules/head', { localTitle: null }) %>
  </head>
  <body>
    <div class="container">
      <%- include('./_ejsModules/header', { isIndex: true }) %>
      <main class="main">
        <ul class="indexes">
          <% items.forEach(({label, linkTo}) => { %>
          <li class="indexes__item">
            <a href="<%= linkTo %>" class="indexes__item__link">
              <%= label %>
            </a>
          </li>
          <% }) %>
        </ul>
      </main>
      <%- include('./_ejsModules/footer') %>
    </div>
    <%- include('./_ejsModules/foot') %>
  </body>
</html>
